
html, *, *:after, *:before{
    box-sizing: border-box;
    font-family: 'Gilroy-medium', Arial, Helvetica, sans-serif;
}
img{
    box-sizing: border-box;
    background-size: cover;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
    line-height: 160%;
}

.wrap{
    background: url(img/shutterstock_1206473638-main1.png) no-repeat;
    min-height: 962px;

}

.container{ 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 165px;
}


/*header*/
header{
    display: flex;
    padding: 68px 165px;
    width: 100%;
    align-items: center;
    height: 146px;
}
.logo{
    display: flex;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 96px;
    background: url(img/logo-img.png) no-repeat;
}
.logo.logo-white{
    background: url(img/logo-white.png) no-repeat;
}
.logo>span, .logo-wihte>span{
    font-size: 18px;
    font-family: 'Gilroy-bold';
    color: #00ACBB;
    padding-left: 15px;

}
/*.logo-wihte{
    display: none;
}*/

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav li{
    text-align: center;
    padding: 0 16px;
}
nav>ul>li>a{
    text-decoration: none ;
    color: #000;
    font-family: 'Gilroy-semibold';
    font-size: 16px;
}
.menu-btn, .login-block{
	display: none;
}

input, input:active, input:focus
{
    outline: none;
}
button, button:active, button:focus
{
    cursor: pointer;
}
.btn-login{
    border:0;
    background: transparent;
    width: 75px;
    height: 23px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    margin-right: 19px;
}
.btn-login:before {
    content:url(img/trigon.png);
    border-right: 1px solid #9213AE; 
    margin-right: 14px;
    display: flex;
    align-items: center;
}


/*infoblock-center-main*/
.infoblock-center{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 12px;
    width: 578px;
    min-height: 92px;
    border-top: 1px solid #B3B3B2;
    border-bottom: 1px solid #B3B3B2;
}
.info-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-number{
    font-family: 'Gilroy-back';
    font-size: 24px;
    background-color: #EFEFEF;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;

}
.info-link, .info-link:hover, .info-link:active, .info-link:focus{
    text-decoration: underline;
    color: #9213AE;
}


/*infoblock-right-main*/
.infoblock-right{
    display: flex;
    justify-content: flex-end;

}
.info-action{
    max-width: 496px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin: 56px 0 107px;
}

.info-subject{
    color: #7D1AA9;
    background-color: #ADEBEE;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px 9px;
    vertical-align: top;
}
.info-action p{
    font-size: 18px;
    line-height: 165.5%;
        display: block;
        max-width: 360px;
}

.h3-main{
    font-size: 36px;
    font-family: 'Gilroy-heavy';
    line-height: 120%;
    margin-bottom: 13px;
}

/*progressbar*/
.case-bar{
    display: flex;
    align-items: flex-end;
    margin: 5px 0 20px;
}
.term-request{
    padding-bottom: 8px;
    font-size: 10px;
    font-family: 'Gilroy-medium';
}
.tooltip span{
    font-family: 'Gilroy-extrabold';
    padding: 0 5px;
}
.tooltip p, .tooltip span{
    color: #959595;
    font-size: 10px;
}
.wrap-progressbar{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.progressbar{
    display: flex;
    align-items: center;
}
.progressbar span{
    font-family: 'Gilroy-bold';
    font-size: 14px;
    padding:0 10px;
}
.circle-mint, .circle-lilac{
    width: 25px;
    height: 25px;
    border-radius:50%;
}
.circle-mint{
    border: 1px solid #00A3A8;
}
.circle-lilac{
    border: 1px solid #971CCD;
}
progress{
    max-width: 220px;
    height: 2px;
    border-radius:0;
    border:0;
    margin-left: -14px;
    margin-right: -14px;
    background: #971CCD; 
}
progress::-webkit-progress-value {
    background-color: #00D3DA;
}
progress::-moz-progress-bar {
    background-color: #00D3DA;
}
progress::-webkit-progress-bar { 
    background-color: #971CCD; 
} 

/*button apply for advertising*/
.block-apply{
    display: flex;
    flex-direction: column;
    width: 259px;
}
.button-apply{
    height: 85px;
    background: #9213AE;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: 'Gilroy-bold';
    border: none;
}
.small-text-button{
    font-size: 10px;
    color: #7D1AA9;
    text-decoration: underline;
    text-align: center;
    margin-top:10px;
}



/*Check your organization for compliance*/
.organizacion-check{
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    text-align: center;
}
.checkin{
    width: 562px;
    display: flex;
    flex-direction: column;
}
.wrap-check{
    display: flex;
    width: 100%;
    border: 1px solid #C0C0BF;
    border-radius: 10px;
    margin-top: 14px;
}
::placeholder {
    color: #959595;
    font-size: 12px;
    line-height: 50px;
}

 input[class="input-chek"]{
    background: transparent;
    box-sizing: border-box;
    height: 50px;
    outline: none;
    width: 100%;
    border:none;
    border-radius:10px;
    text-align:center;
    padding: 0 10px;
 }
 .gotocheck{
    background:url(img/icon-input.png) no-repeat;
    height: 41px;
    width: 41px;
    margin: 5px;
 }



/*slider*/
.wrap-slider{ 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 0 165px;
}
.h2-main{
    font-family: 'Gilroy-heavy';
    font-size: 72px;
    text-align: center;
    padding-top: 40px;
}

.slider {
    padding: 0px 140px; 
    max-width: 1169px;
    margin-bottom: 70px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
}


.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    border:0;
    width: 140px;
    height: 66px;
    font-size: 0;
}
.slider .slick-arrow.slick-prev{
    left: 0; 
    background: url(img/arrow-left.png) 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
    right: 0; 
    background: url(img/arrow-right.png) 0 0 / 100% no-repeat;
}

.step-list{
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 100px;
    margin-top: -11px;
}
.step-list li{
    margin-right:10px;
}
.step-list button{
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    background-color: transparent;
    border-radius:50%;
    border: 3px solid #F95480;
    color: #F95480;
}
.step-list .slick-active button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background-color: #F95480;
    border-radius:50%;
    font-weight: 400; 
    line-height: 0.5;
}
.step-list .slick-active button{
    font-size: 36px;
    color:#fff;
    display: block;
}
.step-list .slick-active button::after{
    content: "шаг";
    padding: 10px 0 0;
    font-size: 16px;
    display:block;
    width: 100%;
}

.slider img{
    height: 383px;
}
.step{
    font-size: 16px;
}
.container-item{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 75px 0 141px;
}

.item-slick.container-item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 75px 0 141px;
}
.step-description{
    width: 259px;
    margin-left: 31px;
}
.questionary{
    font-family: 'Gilroy-bold';
    font-size: 24px;
    line-height:120%;
    padding-bottom: 24px;
}



/*advantages*/
section{
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    margin: 22px 0 64px;
    width: 100%;
}
.advant-items{
    width: 255px;
    padding:0 20px;
}
.advant-items #ad{
    padding:0 20px;
}
.advant-items>div{
    margin-top: 30px;   
}
.advant-items p, .advant-items span{
    line-height: 160%;
}
.advant-items span{
    font-family: 'Gilroy-back';
    font-size: 24px;
}
#ad{
    min-height: 272px;
    background-color:#ADEBEE;
    border-radius: 10px;
    padding: 48px 35px;
    margin-left: 5px;
}
.advantage{
    font-family: 'Gilroy-extrabold';
    color: #F95480;
    font-size: 24px;
    padding: 20px 0;
}

/*слайдер для мобильных устройсты на блок преимущества*/
.advantages-list .slick-arrow{
    position: absolute;
    top: 29%;
    border:0;
    width: 34px;
    height: 66px;
    font-size: 0;
    z-index: 1;
}
.advantages-list .slick-arrow.slick-prev{
    left: 0; 
    background: url(img/arrow-green-1.svg) 0 0 / 100% no-repeat;
}

.advantages-list .slick-arrow.slick-next{
    right: 0; 
    background: url(img/arrow-green-2.svg) 0 0 / 100% no-repeat;
}


/*partners*/
.wrapper-partners{
    height: 175px;
}
.partners{
    background-color: #ECECEC;
    margin: 55px 0 36px;
    height: 316px;
}
.h3-partners{
    text-align: center;
    font-size: 36px;
    font-family: 'Gilroy-heavy';
    line-height: 120%;
    padding: 26px 0 20px;
}
.slider-partners{
    display: flex;
    align-items: space-between;
    max-width: 1173px;
    height: 175px;
    padding:0 122px;

    margin: 0 auto;
}
.slider-partners .slick-arrow{
    position: absolute;
    top: 29%;
    border:0;
    width: 34px;
    height: 66px;
    font-size: 0;
    z-index: 1;
}
.slider-partners .slick-arrow.slick-prev{
    left: 0; 
    background: url(img/arrow-green-1.svg) 0 0 / 100% no-repeat;
}

.slider-partners .slick-arrow.slick-next{
    right: 0; 
    background: url(img/arrow-green-2.svg) 0 0 / 100% no-repeat;
}
.slider-partners .slick-slide {
    display: flex;
    justify-content: center;
}

/*.partner-item{
    //max-width: 175px;
    height: 175px;
    background-color: #FFFFFE;
    border-radius: 10px;
    //margin-right: 53px;
    margin: 0 26px;
}
.partner-item img{
    display: block;
    margin: auto;
}*/



/**/


/*footer*/
footer{
    height: 142px;
}
.wrap-footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 16px;
    font-family: 'Gilroy-semibold';
}
.icon-item, .list-nav{
    display: flex;
}
.list-nav li{
    
    text-align: center;
}
.list-nav li a{
    margin: 0 16px;
    color: black;
}
.icon-item li{
    margin: 0 5px;
}






/*media запросы*/
@media screen and (max-width: 1430px){
    .container-item{  
        padding:0;
    } 
    .slider {
        padding: 0;
        width: 100%;
    }
    nav li {
        padding: 0 5px;
    }
    .logo{
        margin-right: 20px;
    }
    
}
/*mobile*/

@media screen and (max-width: 1024px){   
    .wrap {
        background: url(img/main-mobile-illustration.png) no-repeat;
        min-height: 830px;
        background-position-x: center;
    }
    .container {
        padding: 0 25px;
    }

    .step-list button{
        width: 32px;
        height: 32px;
    }
    .step-list .slick-active button{
        width: 100px;
        height: 100px;
    }
    
    header{
        display: flex;
        align-items: flex-start;
        padding: 26px 25px;
        width: 100%;
        height: 81px;
    }
    .logo-img{
        position:absolute;
        z-index: 100;
    }
    /*.logo{
        position: absolute;
    }  */
    .logo img{
            width: 100%;
    }
    nav{    
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    nav ul{
        width: 100%;
        position: fixed;
        top:0;
        right: 0;
        z-index: 60;
    }
    nav li{
        display: flex;
        justify-content: center;
    }
    nav a{
        padding: 5px;
    }
        .menu-nav, .btn-login{
            display: none;
        }
        .menu-nav_active {
            display: block;
            background: #9213AE;
            height: 100vh;
            padding-top: 82px;
            position: absolute;
        }
        .menu-btn{
        display: block;
        width: 28px;
        height: 21px;
        position: relative;
        
        color: white;
    }
    
    /*.logo-wihte{
        display: block;
        position: absolute;
        z-index: 100;
    }*/
    nav>ul>li>a {
        border-bottom: 5px solid #000;
        width: 100%;
        margin: 0 25px;
        color: #fff;
        line-height: 75px;
        font-size: 18px;
    }
    .login-block input {
        background-color: #fff;
        border-radius: 10px;
        width: 137px;
        height: 35px;
        font-size: 14px;
        border: 0;
        line-height: 35;
        text-align: center;
    }
    .login-block input::placeholder{
        font-size: 14px;
        color:black;
    }
    .login-block button{
        width: 195px;
        height: 63px;
        background-color:#00ABBB;
        line-height: 63px;
        font-size: 18px;
        color:#fff;
        border:0;
        border-radius: 10px;
    }
    .menu-btn span,
    .menu-btn span::before, 
    .menu-btn span::after{
        position: absolute;
        top: 50%; margin-top: -1px;
        left:50%;	margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #9213AE;
    }
    .menu-btn span::before, 
    .menu-btn span::after{
        content: '';
        transition: 0.5s;
        display: block;
    }
    .menu-btn span::before{
        transform: translateY(-5px);
    }
    .menu-btn span::after{
        transform: translateY(5px);
    }
    .menu-btn_active span{
      height:0;
    }
    .menu-btn_active span::before{
        transform: rotate(45deg);
        background-color: white;
    }
    .menu-btn_active span::after{
        transform: rotate(-45deg);
        background-color: white;
    }
    .menu-btn.menu-btn_active{
        z-index: 70;
    }
    
    .login-block {
        display: block;
        z-index: 80;
        padding-top: 38px;
    }
    .login-button{
        margin-top: 20px;
    }
    .login-button a{
        font-size: 10px;
        text-decoration: underline;
        color: white;
    }
    .entry-overlay{}

    .h3-main, .info-action p  {
        text-align: center;
    }
    .info-action {
        align-items: center;
        width: 100%;
        margin: 0;   
        height: 100%;
    }
    .info-action p{
        font-size: 16px;
    }
    .infoblock-right {
        margin: 537px 0 54px;
        justify-content: center;
    }
    .case-bar {
        flex-direction: column;
        align-items: center;
        margin-top: 31px;
    }
    .wrap-progressbar{
        flex-direction: column-reverse;
    }
    .list-nav{
        display: none;
    }
    .wrap-slider {
        padding: 0;
    }
}

@media screen and (max-width: 800px){  
    .h2-main, .h3-main{
        font-size: 28px;
    } 
    .info-text {
        flex-direction: column;
        padding: 10px 30px;
        text-align: center;
    }
    .infoblock-center {
        width: 100%;
    }
    .infoblock-right {
        margin: 505px 0 54px;
    }
    .info-number {
        margin: 7px 0;
    }
    .checkin p, .checkin span{
        font-size: 12px;
    }
    .block-apply {
        width:195px;
    }
    .button-apply{
        font-size: 15px;
        height:63px;
    }
    .slider{
        margin-bottom: 61px;
    }
    .list-nav{
        display: none;
    }
    .container-item {
        flex-direction: column;
        align-items: center;
    }
    .step-description {
        margin: 18px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .wrap-footer {
        flex-flow: column-reverse;
        justify-content: center;
    }
    .socials{
        margin-bottom: 29px;
    }
    .advantage{
        text-align: center;
    }
    .slider-partners {
        padding: 0;
    }
 
}
@media screen and (max-width: 640px){
    
    .advant-items{
        padding: 0 40px;
        text-align: center;
    }
    .step-list {
        margin-left: 25px;
    }
    .step-list .slick-active button{
        font-size: 30px;
    }
    .slick-slide img {
        display: inline-block;
    }
    .advantages-list .slick-arrow {
        top:0;
    }
    .advantages-list {
        margin: 22px 0 25px;
    }
    .h3-partners {
        font-size: 28px;
    }
}  
@media screen and (max-width: 380px){
    .wrap {
        background: url(img/375-mobile-illustration.png) no-repeat;
        background-position-x: center;
        background-position-y: 84px;
    } 
    .infoblock-right {
        margin: 373px 0 54px;
    }
    .step-list {
        margin-left: 10px;
    }
    .partners{
        height: 288px;
    }
}