
@font-face{
    font-family: "Gilroy-back";
    src: url(fonts/gilroy-black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy-extrabold";
    src: url(fonts/gilroy-extrabold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy-bold";
    src: url(fonts/gilroy-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy-heavy";
    src: url(fonts/gilroy-heavy.ttf) format("truetype");
    font-weight: 999;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy-medium";
    src: url(fonts/gilroy-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "Gilroy-semibold";
    src: url(fonts/gilroy-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=cyrillic-ext');
